mixin news-item(item)
    if item.group
        .news__group
            .news__group-inner
                for itemGroup in item.group
                    +news-item(itemGroup)
    else
        a(href="#" class=item.type ? item.type : '').news__item
            .news__img
                img(src=item.img alt=item.title title=item.title)
            .news__bottom
                .news__title=item.title
                if item.desc
                    .news__desc=item.desc
                if item.date
                    .news__date=item.date
                if item.tags
                    .news__tags
                        for tag in item.tags
                            span=tag

mixin news(news, needCategory=false)
    section.news
        if needCategory && news.category
            .news__category.js-news-category
                a(href='javascript:void(0)').news__category-open.js-news-category-open Поиск по категориям
                ul.news__category-list
                    for category in news.category
                        li.news__category-item
                            a(href='#')=category

        .news__list
            if news.list
                for item in news.list
                    +news-item(item)
